PROJECT_ID="YourProjectID"
MODEL_NAME="Model Name"
location="us-central1"
vertexai=True

MODEL_NAME=amazon.nova-lite-v1:0
AWS_REGION=us-east-1

AWS_Access_Key_ID:     "YourAccesskey"
AWS_Secret_Access_Key: "YourSecretKEY"
Default_output_format: "json"